# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.metadata/
*.*~
*CATKIN_IGNORE
*CATKIN_IGNORE.bkp
*/catkin
*/catkin_generated
*/config/navigation/assisted_teleop
*/devel
*/gtest
*/bin
*/cfg/cpp
*/#*
*/.#*
riskrrt_local_planner/.settings/
*.pyc
*/test_results
*/.settings
*/CMakeFiles
